.parent {
    display: flex;
}

.child-side {
    flex: 1;
    background: 'green';
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.child-body {
    flex: 6;
    margin-left: 200px
}

.side-menus {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.side-menus:hover {
    background-color: #555;
    color: white;
}